letsencrypt
.env
nginx/vbesort_error.log
nginx/vbesort_access.log


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/node_modules
/.pnp
.pnp.js

# testing

/coverage

# production

/build

# misc

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# dir with math and bio problem screenshots (stored in google drive)
/public/mv-problems
/public/mv-answers
/public/bv-problems
/public/bv-answers
/public/iv-problems
/public/iv-answers
/public/mp-problems
/public/mp-answers
/public/fv-problems
/public/fv-answers
/public/m8-problems
/public/m8-answers
/public/cv-problems
/public/cv-answers
/public/lv-problems
/public/lv-answers

# ssh keys
gh-pages-vbesort
gh-pages-vbesort.pub

/dist